* {
  margin: 0;
  padding: 0;
  padding-top: 0.0001px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans"; }

html {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #F2F2F2; }

.bienvenidos {
  background-image: url("../images/main.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #181F1C;
  background-position: 0 3.2rem;
  height: 100vh; }

.contain {
  height: 100%; }

.nav {
  background-color: #495057;
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding-top: 0;
  padding-bottom: 0; }

.navbar-brand {
  font-size: 1.8rem; }

.navbar-light .navbar-nav .nav-link {
  color: #F6F1F1;
  font-size: 1.4rem; }

.navbar-light .navbar-brand {
  color: #f8f9fa; }

.navbar-light .navbar-brand:hover {
  color: #F6F1F1;
  font-size: 1.8rem; }

.navbar-toggler-icon {
  color: #F6F1F1; }

.navbar-light .navbar-toggler {
  background-color: rgba(25, 25, 31, 0.46); }

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

div .collapse .navbar-collapse {
  -webkit-transition: all 1s;
  transition: all 1s; }

.texto-bienvenidos {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 12rem;
  height: 25rem; }
  .texto-bienvenidos p {
    color: #f8f9fa;
    font-size: 2.6rem; }
  .texto-bienvenidos h1 {
    color: #f8f9fa;
    font-size: 5rem;
    font-weight: 300; }
  .texto-bienvenidos a {
    padding: 0.7rem;
    background-color: #EC4E20;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 11px; }

.btn-primary:hover {
  color: #fff;
  background-color: #EC4E20;
  border-color: #0062cc; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: #F6F1F1;
  border-color: #005cbf; }

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
     -moz-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
     -moz-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold; }

.somos {
  background-color: #EC4E20;
  color: #F6F1F1;
  padding-top: 4rem;
  padding-bottom: 2.3rem; }
  .somos .contain2 h2 {
    font-size: 3rem;
    padding-bottom: 1rem; }
  .somos .contain2 p {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem; }
  .somos .contain2 img {
    border-radius: 100%;
    padding-bottom: 1rem; }
  .somos .contain2 button {
    padding: 0.7rem;
    background-color: #181F1C;
    font-size: 2.5rem;
    text-decoration: none;
    color: #F7F7F2;
    border: none;
    font-weight: 400;
    border-radius: 12px;
    border-top-left-radius: 10px; }

button:hover {
  background-color: #F6F1F1; }

.row {
  margin: 0; }

.services {
  padding-top: 3.3rem;
  padding-bottom: 2.5rem; }
  .services h2 {
    font-size: 3rem;
    font-weight: 900; }

.contain3 p {
  padding-top: 1.5rem;
  font-size: 1.8rem; }
.contain3 h3 {
  font-weight: 900;
  font-size: 2.4rem; }

.services .fas {
  padding-top: 1.5rem;
  color: #EC4E20;
  font-size: 6rem; }
.services .fab {
  padding-top: 1.5rem;
  color: #EC4E20;
  font-size: 6.5rem; }

.proyectos {
  background-color: #000022;
  color: #F6F1F1;
  padding-top: 3.3rem;
  padding-bottom: 3.3rem; }
  .proyectos h2 {
    font-size: 3rem; }
  .proyectos a:hover img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 100000; }

.pie {
  background-color: #EC4E20;
  font-size: 1rem;
  width: 100%; }
  .pie h2 {
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem; }

.contain5 {
  padding-top: 1px;
  padding-bottom: 3rem;
  width: 50%;
  height: 80%;
  color: #181F1C; }
  .contain5 .redes {
    margin-bottom: 3rem; }
  .contain5 .social {
    position: relative;
    right: 0.3rem;
    margin-left: 0.4rem; }
    .contain5 .social .fab {
      color: #F7F7F2;
      font-size: 4rem; }

.contain6 {
  color: #181F1C;
  width: 50%;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600; }
  .contain6 form {
    font-size: 2rem; }
    .contain6 form button {
      font-size: 1.5rem; }

.form-control {
  display: inline-block;
  width: 83%; }

.cierre {
  background-color: #181F1C;
  color: #F7F7F2; }
  .cierre h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    .cierre h2 a {
      color: #EC4E20; }

@media (min-width: 1200px) {
  .texto-bienvenidos {
    padding-right: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    top: 25%;
    left: 0;
    height: 20rem; }
    .texto-bienvenidos p {
      color: #f8f9fa;
      font-size: 3rem; }
    .texto-bienvenidos h1 {
      color: #f8f9fa;
      font-size: 2.5rem;
      font-weight: 300;
      display: inline-block;
      margin-right: 2rem; }
    .texto-bienvenidos a {
      padding: 0.7rem;
      background-color: #EC4E20;
      font-size: 1.5rem;
      text-decoration: none;
      border-radius: 11px;
      position: relative;
      right: 10%; } }
@media (min-width: 992px) {
  html {
    font-size: 18px; }

  .navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 1.65rem;
    line-height: inherit;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
    left: 4rem;
    z-index: 10; }

  div ul {
    margin-left: auto;
    margin-right: 4rem;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .nav-link {
    color: #F6F1F1;
    font-weight: 600;
    font-size: 1.4rem; }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #F6F1F1;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: #EC4E20; }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #F6F1F1;
    font-weight: 600;
    font-size: 1.4rem;
    color: #f8f9fa; }

  .navbar-light .navbar-brand:focus {
    color: #f8f9fa;
    font-weight: 600; }

  .bienvenidos {
    background-image: url("../images/main.png");
    background-size: cover; } }
@media (min-width: 768px) {
  html {
    font-size: 16px; }

  .nav-link:hover {
    background-color: #EC4E20;
    padding: 1rem;
    line-height: 1rem;
    color: #F6F1F1; }

  .nav {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important; }

  .bienvenidos {
    background-image: url("../images/main.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #181F1C;
    background-position: 0 3.2rem; } }
@media (min-width: 568px) {
  .nav-link:hover {
    background-color: #EC4E20;
    padding: 1rem;
    line-height: 1rem;
    color: #F6F1F1; }

  .nav {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important; }

  .bienvenidos {
    background-image: url("../images/main.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #181F1C;
    background-position: 0 3.2rem; } }
@media (max-width: 568px) {
  html {
    font-size: 10px; }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #F6F1F1;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: #EC4E20; }

  .bienvenidos {
    background-image: url("../images/fondo-bienvenidos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #181F1C;
    background-position: 0 3.2rem; }

  .nav-link:hover {
    background-color: #EC4E20;
    padding: 1rem;
    line-height: 1rem;
    color: #F6F1F1; }

  div .texto-bienvenidos {
    position: relative;
    top: 15rem !important; }

  .nav {
    padding-top: 0.1rem !important;
    padding-bottom: 0.1rem !important; } }

/*# sourceMappingURL=style.css.map */